@import "../../styles/variables";

.slideshow-wrapper {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 415px;
    width: 90%;
    border-radius: 15px 15px 15px 15px;
    position: relative;

    &__img {
        object-fit: cover;
        width: 100%;
        max-height: 415px;
        min-height: 415px;
        border-radius: 15px 15px 15px 15px;
    }

    &__right-arrow {
        width: 70px;
        position: absolute;
        top: 40%;
        right: 1%;
    }

    &__left-arrow {
        width: 70px;
        position: absolute;
        top: 40%;
        left: 1%;
    }

    &__counter {
        position: absolute;
        bottom: 2%;
        left: 50%;
        font-family: $font-family-base;
        font-weight: 500;
        font-size: 25px;
        color: white;
    }
}