@import "../../styles/variables";
@import "../../styles/mixins";

.slideshow-wrapper {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 415px;
    width: 90%;
    border-radius: 15px 15px 15px 15px;
    position: relative;

    @include min-width(small) {
        height: 230px;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        max-height: 415px;
        min-height: 415px;
        border-radius: 15px 15px 15px 15px;

        @include min-width(small) {
            max-height: 230px;
            min-height: 230px;
        }
    }

    &__right-arrow {
        width: 70px;
        position: absolute;
        top: 40%;
        right: 1%;

        @include min-width(small) {
            width: 20px;
            top: 45%;
        }

        @include min-width(medium) {
            width: 45px;
            top: 45%;
        }
    }

    &__left-arrow {
        width: 70px;
        position: absolute;
        top: 40%;
        left: 1%;

        @include min-width(small) {
            width: 20px;
            top: 45%;
        }

        @include min-width(medium) {
            width: 45px;
            top: 45%;
        }
    }

    &__counter {
        position: absolute;
        bottom: 2%;
        left: 50%;
        font-family: $font-family-base;
        font-weight: 500;
        font-size: 25px;
        color: white;

        @include min-width(small) {
            display: none;
        }

        @include min-width(medium) {
            font-size: 20px;
        }
    }
}