@import "../../styles/variables";
@import "../../styles/mixins";

.location-wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(4);
    margin-left: 5%;
    margin-right: 5%;
    
    &__title {
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-size: 35px;
        color: $color-primary;
        margin-bottom: 0;
        margin-top: 0;

        @include min-width(small) {
            font-size: 18px;
        }
    }

    &__map {
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-size: 18px;
        color: $color-primary;
        margin-bottom: 0;
        margin-top: 0;
        grid-column: 1;
        grid-row: 2;

        @include min-width(small) {
            font-size: 14px;
            margin-top: 5px;
        }
    }
}

.tags-wrapper {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    grid-column: 1;
    grid-row: 3;

    @include min-width(small) {
        flex-wrap: wrap;
    }
}

.tag-button {
    background-color: $color-primary;
    width: 140px;
    height: 20px;
    text-align: center;
    color: white;
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    border-radius: 10px 10px 10px 10px ;
    padding: 3px 0px 3px 0px;

    @include min-width(small) {
        width: 100px;
        font-size: 14px;
        padding: 0;
        border-radius: 5px 5px 5px 5px ;
    }
}

.host-wrapper {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    grid-column: 2;
    grid-row: 1;

    @include min-width(small) {
        grid-column: 2;
        grid-row: 4;
        gap: 15px;
        width: 75%;
        margin-top: 15px;
    }

    &__name {
        color: $color-primary;
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-size: 18px;
        width: 60px;
        margin: 0;

        @include min-width(small) {
            font-size: 12px;
            width: 35px;
        }
        
    }

    &__pic {
        border-radius: 100px;
        width: 65px;

        @include min-width(small) {
            width: 32px;
        }
    }

    
}

.host-wrapper__rating {
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
    grid-row: 3;
    margin-top: 15px;

    @include min-width(small) {
        grid-column: 1;
        grid-row: 4;
        justify-content: flex-start;
        align-items: center;
    }
}

.host-wrapper__rating-star {
    width: 24px;
    height: fit-content;
    margin-left: 10px;

    @include min-width(small) {
        width: 20px;
        margin-left: 0;
        margin-right: 5px;
    }
}

.location-collapse-wrapper {
    display: flex;
    gap: 8%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;

    @include min-width(small) {
        flex-direction: column;
        margin-top: 10px;
    }
}

.location-collapse {
    width: 100%;
    margin-top: 20px;
    left: 5%;
    bottom: 20%;
}

.equipment-list {
    margin: 0;
    list-style: none;
    padding: 0;
}