@import "../../styles/variables";

.location-wrapper {
    margin: 0;
    
    &__title {
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-size: 35px;
        color: $color-primary;
        margin-left: 5%;
        margin-bottom: 0;
    }

    &__map {
        font-family: $font-family-base;
        font-weight: $font-weight-base;
        font-size: 18px;
        color: $color-primary;
        margin-left: 5%;
        margin-bottom: 0;
        margin-top: 10px;
    }
}