$color-primary: #FF6060;
$color-background: #f6f6f6;

$font-family-base: 'Montserra', sans-serif;
$font-weight-base: 500;

$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
