body {
    min-height: 100vh;
    max-width: 1440px;
    margin: auto;
    padding-bottom: 180px;
    position: relative;
}

.home-wrapper {
    margin-bottom: 30px;
}

.head-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.locations-wrapper {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: $color-background;
    border-radius: 25px 25px 25px 25px;

    @include min-width(small) {
        background-color: white;
        margin-top: 0;
    }

        &__cards {
            padding: 5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 5%;

            @include min-width(small) {
                gap: 10px;
            }
    }
}