@import "../../styles/variables";


.collapse {
    width: 100%;
    font-size: 24px;
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    border-radius: 7px;
    background-color: $color-primary;
    color: white;
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px 10px 15px;
      height: 32px;
      border-radius: 5px 5px 5px 5px ;
    }
  
    .content {
      font-size: 18px;
      font-family: $font-family-base;
      max-height: 0;
      color: $color-primary;
      background-color: $color-background;
      overflow: hidden;
      transition: max-height 0.5s;
      border-radius: 0px 0px 5px 5px ;
      &.visible {
        max-height: 150px;
      }
      .inner {
        padding: 15px 20px 20px 20px;
      }
    }

    .collapse-arrow {
        width: 30px;
    }
  
    .collapse-icon {
        z-index: 1;
        transition: transform 0.5s ease;
    }
    .rotateDown {
        transform: rotate(-180deg);
    }
    .rotateUp {
        transform: rotate(0);
    }
  }