@import "../../styles/variables";
@import "../../styles/mixins";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    
    @include min-width(small) {
        margin-top: 20px;
    }

        &__logo {
            width: 210px;

            @include min-width(small) {
                width: 120px;
            }

            @include min-width(medium) {
                width: 160px;
            }
        }

        &__link {
            text-decoration: none;
            color: $color-primary;
            font-family: $font-family-base;
            font-weight: $font-weight-base;
            font-size: 24px;
            margin-left: 30px;

            @include min-width(small) {
                font-size: 12px;
                margin-left: 10px;
                text-transform: uppercase;
            }

            @include min-width(medium) {
                font-size: 20px;
            }
        }
    
}

.isActive {
            border-bottom: 2px solid;
            text-decoration: none;
            color: $color-primary;
            font-family: $font-family-base;
            font-weight: $font-weight-base;
            font-size: 24px;
            margin-left: 30px;

            @include min-width(small) {
                font-size: 12px;
                margin-left: 10px;
                text-transform: uppercase;
            }

            @include min-width(medium) {
                font-size: 20px;
            }
}