.banner-img {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    background-image: url(../../assets/Image-source-1.png);
    filter: brightness(80%);
    background-size: cover;
    background-position: 0%;
    height: 250px;
    width: 100%;
    text-align: center;
    border-radius: 20px 20px 20px 20px;

    
}

.banner-title {
    margin: 0;
    position: absolute;
    top: 40%;
    font-family: $font-family-base;
    font-weight: 500;
    font-size: 48px;
    color: white;
}

.banner-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}